<a href="https://colab.research.google.com/github/TravisJRCain/FantasyPros-Relief-Pitcher-ADP-Values/blob/main/FantasyPros_RP_ADP_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/FantasyPros_Fantasy_Baseball_Rankings_P.csv')
df.head(10)

   Rank          Player Team Positions  ...   Avg  Std Dev   ADP  vs. ADP
0   2.0     Gerrit Cole  NYY        SP  ...   2.0      0.4   6.0     -4.0
1   1.0    Jacob deGrom  NYM        SP  ...   1.2      0.4   7.0        -
2   3.0    Shane Bieber  CLE        SP  ...   2.9      0.3   8.0     -4.0
3   4.0    Trevor Bauer  NaN       SP   ...   5.3      1.3  14.0     -4.0
4   5.0      Yu Darvish   SD        SP  ...   6.0      1.5  17.0     -4.0
5   6.0  Walker Buehler  LAD        SP  ...   6.1      1.5  18.0     -6.0
6   8.0   Lucas Giolito  CWS        SP  ...   8.4      2.0  21.0     -6.0
7   7.0      Aaron Nola  PHI        SP  ...   8.0      1.1  22.0     -4.0
8   9.0    Max Scherzer  WSH        SP  ...   9.6      1.3  24.0     -7.0
9  11.0   Jack Flaherty  STL        SP  ...  10.8      3.6  27.0     -8.0

[10 rows x 11 columns]

In [3]:
player = df['Player']
positions = df['Positions']
adp = df['ADP']
team = df['Team']

In [4]:
# merge new, simpler data set

rp_adp = pd.concat([player, team, positions, adp], join = 'outer', axis = 1)

In [5]:
rp_adp

              Player Team Positions   ADP
0        Gerrit Cole  NYY        SP   6.0
1       Jacob deGrom  NYM        SP   7.0
2       Shane Bieber  CLE        SP   8.0
3       Trevor Bauer  NaN       SP   14.0
4         Yu Darvish   SD        SP  17.0
..               ...  ...       ...   ...
280  Garrett Crochet  CWS     SP,RP   NaN
281      Matt Magill  SEA       RP    NaN
282   Devin Smeltzer  MIN     SP,RP   NaN
283              NaN  NaN       NaN   NaN
284              NaN  NaN       NaN   NaN

[285 rows x 4 columns]

In [6]:
rp_only = rp_adp.loc[rp_adp['Positions'] == 'RP']

In [7]:
rp_only.head(30)

                Player Team Positions    ADP
19          Josh Hader  MIL        RP   59.0
20       Liam Hendriks  CWS        RP   60.0
29     Aroldis Chapman  NYY        RP   79.0
32          Edwin Diaz  NYM        RP   89.0
39     Raisel Iglesias  LAA        RP  106.0
41     James Karinchak  CLE        RP  112.0
46           Brad Hand  WSH        RP  127.0
48       Kenley Jansen  LAD        RP  129.0
49        Ryan Pressly  HOU        RP  131.0
54       Taylor Rogers  MIN        RP  138.0
55      Devin Williams  MIL        RP  141.0
56       Nick Anderson   TB        RP  150.0
73         Kirby Yates  TOR        RP  194.0
76       Craig Kimbrel  CHC        RP  199.0
79      Rafael Montero  SEA        RP  206.0
86   Richard Rodriguez  PIT        RP  221.0
91         Matt Barnes  BOS        RP  232.0
96   Giovanny Gallegos  STL        RP  243.0
100       Jordan Hicks  STL        RP  259.0
101    Stefan Crichton  ARI        RP  261.0
109       Greg Holland   KC        RP  275.0
110      Jordan Romano  TOR        RP  277.0
113           A.J. Puk  OAK        RP  289.0
115      Daniel Hudson  WSH        RP  291.0
117         Alex Reyes  STL        RP  295.0
120     Archie Bradley  PHI        RP  298.0
121       Aaron Bummer  CWS        RP  300.0
122       Zack Britton  NYY        RP  302.0
123       Hector Neris  PHI        RP  304.0
127       Jake Diekman  OAK        RP  308.0

In [ ]:
# initial thoughts:
# - karinchak, anderson, williams, yates, puk (!!!!!),

In [8]:
pip install pybaseball

Requirement already satisfied: pybaseball in /usr/local/lib/python3.6/dist-packages (2.1.1)
Requirement already satisfied: pygithub>=1.51 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.54.1)
Requirement already satisfied: altair>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.1.0)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (3.2.2)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.19.5)
Requirement already satisfied: scipy>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.4.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (1.1.5)
Requirement already satisfied: requests>=2.18.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (2.23.0)
Requirement already satisfied: lxml>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.2.6)
Requirement already satisfied: pyarrow>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (3.0.0)
Requirement already satisfied: beautifulsoup4>=4.4.0 in /usr/local/lib/python3.6/dist-packages (from pybaseball) (4.6.3)
Requirement already satisfied: deprecated in /usr/local/lib/python3.6/dist-packages (from pygithub>=1.51->pybaseball) (1.2.11)
Requirement already satisfied: pyjwt<2.0 in /usr/local/lib/python3.6/dist-packages (from pygithub>=1.51->pybaseball) (1.7.1)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.6/dist-packages (from altair>=4.0.0->pybaseball) (2.6.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from altair>=4.0.0->pybaseball) (0.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.6/dist-packages (from altair>=4.0.0->pybaseball) (0.11.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from altair>=4.0.0->pybaseball) (2.11.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->pybaseball) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->pybaseball) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->pybaseball) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.0.0->pybaseball) (1.3.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->pybaseball) (2018.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.18.1->pybaseball) (2020.12.5)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.6/dist-packages (from deprecated->pygithub>=1.51->pybaseball) (1.12.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->altair>=4.0.0->pybaseball) (1.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib>=2.0.0->pybaseball) (1.15.0)

In [9]:
# look at statistics

from pybaseball import pitching_stats, pitching_stats_bref

In [10]:
df = pitching_stats(2020, league='all')

In [11]:
df.head()

    IDfg  Season            Name     Team  ...  maxEV  HardHit  HardHit%  Events
0  19427    2020    Shane Bieber  Indians  ...  112.9       66     0.431     153
3  13074    2020      Yu Darvish     Cubs  ...  110.9       64     0.340     188
6  10954    2020    Jacob deGrom     Mets  ...  111.0       49     0.336     146
1  12703    2020    Trevor Bauer     Reds  ...  110.0       60     0.380     158
4  17186    2020  Dinelson Lamet   Padres  ...  111.4       60     0.400     150

[5 rows x 330 columns]

In [14]:
shane_bieber = df.loc[df['Name'] == 'Shane Bieber']

In [22]:
shane_bieber

    IDfg  Season          Name     Team  ...  maxEV  HardHit  HardHit%  Events
0  19427    2020  Shane Bieber  Indians  ...  112.9       66     0.431     153

[1 rows x 330 columns]

In [12]:
df2 = pitching_stats_bref(2020)

In [16]:
df2

                  Name  Age  #days     Lev  ...   WHIP  BAbip   SO9  SO/W
1         Albert Abreu   24    151  MLB-AL  ...  4.500  0.600  13.5  1.00
2          Bryan Abreu   23    181  MLB-AL  ...  2.400  0.125   8.1  0.43
3           Jason Adam   28    128  MLB-NL  ...  1.244  0.259  13.8  2.63
4         Austin Adams   29    127  MLB-NL  ...  1.250  0.286  15.8  3.50
5         Chance Adams   25    132  MLB-AL  ...  1.731  0.424   6.2   NaN
..                 ...  ...    ...     ...  ...    ...    ...   ...   ...
760         T.J. Zeuch   24    128  MLB-AL  ...  1.147  0.205   2.4  0.75
761        Kyle Zimmer   28    132  MLB-AL  ...  1.043  0.259  10.2  2.60
762   Bruce Zimmermann   25    131  MLB-AL  ...  1.143  0.222   9.0  3.50
763  Jordan Zimmermann   34    127  MLB-AL  ...  2.294  0.550   9.5  3.00
764        Tyler Zuber   25    128  MLB-AL  ...  1.591  0.256  12.3  1.50

[735 rows x 40 columns]

In [23]:
james_karinchak = df2.loc[df2['Name'] == 'James Karinchak']
james_karinchak

                Name  Age  #days     Lev  ...   WHIP  BAbip   SO9  SO/W
361  James Karinchak   24    127  MLB-AL  ...  1.111  0.342  17.7  3.31

[1 rows x 40 columns]

In [35]:
devin_williams = df2.loc[df2['Name'] == 'Devin Williams']
devin_williams

               Name  Age  #days     Lev  ...  WHIP  BAbip   SO9  SO/W
736  Devin Williams   25    129  MLB-NL  ...  0.63    0.2  17.7  5.89

[1 rows x 40 columns]

In [36]:
kirby_yates = df2.loc[df2['Name'] == 'Kirby Yates']
kirby_yates

            Name  Age  #days     Lev         Tm  ...    PU   WHIP  BAbip   SO9  SO/W
757  Kirby Yates   33    171  MLB-NL  San Diego  ...  0.07  2.538    0.5  16.6   2.0

[1 rows x 40 columns]

In [28]:
josh_hader = df2.loc[df2['Name'] == 'Josh Hader']
josh_hader

           Name  Age  #days     Lev         Tm  ...    PU   WHIP  BAbip   SO9  SO/W
289  Josh Hader   26    128  MLB-NL  Milwaukee  ...  0.24  0.947  0.161  14.7   3.1

[1 rows x 40 columns]

In [24]:
# sort by saves, holds, SO/W, SO9

In [13]:
so_leaders = df2.sort_values(by=['SO9'])

In [18]:
so_leaders

                Name  Age  #days     Lev  ...  WHIP  BAbip   SO9  SO/W
331  Jordan Holloway   24    190  MLB-NL  ...  9.00  0.667   0.0  0.00
530      Jose Peraza   26    172  MLB-AL  ...  6.00  0.667   0.0   NaN
333       Brock Holt   32    131  MLB-NL  ...  3.75  0.444   0.0   NaN
327    Bryan Holaday   32    171  MLB-AL  ...  6.00  0.667   0.0   NaN
307   Tyler Heineman   29    169  MLB-NL  ...  1.00  0.333   0.0   NaN
..               ...  ...    ...     ...  ...   ...    ...   ...   ...
89      Rex Brothers   32    135  MLB-NL  ...  1.50  0.000  21.6  2.67
639    Josh D. Smith   30    166  MLB-NL  ...  1.80  0.500  21.6  4.00
51    Jeremy Beasley   24    174  MLB-NL  ...  6.00  1.000  27.0   NaN
358     Tommy Kahnle   30    190  MLB-AL  ...  2.00  0.500  27.0  3.00
88     Mike Brosseau   26    171  MLB-AL  ...  0.00    NaN  27.0   NaN

[735 rows x 40 columns]

In [14]:
so_leaders = so_leaders.loc[so_leaders['IP'] >= 25.0]

In [15]:
so_leaders = so_leaders.sort_values(by=['SO9'], ascending=False)

In [16]:
so_leaders.head(30)

                     Name  Age  #days            Lev  ...   WHIP  BAbip   SO9   SO/W
361       James Karinchak   24    127         MLB-AL  ...  1.111  0.342  17.7   3.31
736        Devin Williams   25    129         MLB-NL  ...  0.630  0.200  17.7   5.89
173            Edwin Diaz   26    128         MLB-NL  ...  1.208  0.381  17.5   3.85
528        Freddy Peralta   24    127         MLB-NL  ...  1.159  0.333  14.4   3.92
642            Drew Smyly   31    127         MLB-NL  ...  1.101  0.310  14.4   4.67
256         Tyler Glasnow   26    131         MLB-AL  ...  1.134  0.281  14.3   4.14
64           Shane Bieber   25    131         MLB-AL  ...  0.866  0.267  14.2   5.81
166          Jacob deGrom   32    128         MLB-NL  ...  0.956  0.288  13.8   5.78
444          Tyler Matzek   29    128         MLB-NL  ...  1.138  0.338  13.3   4.30
99          Corbin Burnes   25    130         MLB-NL  ...  1.022  0.285  13.3   3.67
199        Pete Fairbanks   26    128         MLB-AL  ...  1.388  0.350  13.2   2.79
313         Liam Hendriks   31    128         MLB-AL  ...  0.671  0.260  13.1  12.33
656         Josh Staumont   26    128         MLB-AL  ...  1.403  0.333  13.0   2.31
447           Mike Mayers   28    129         MLB-AL  ...  0.900  0.242  12.9   4.78
586         Trevor Rogers   22    128         MLB-NL  ...  1.607  0.380  12.5   3.00
492          Joe Musgrove   27    128         MLB-NL  ...  1.235  0.318  12.5   3.44
549  Daniel Ponce de Leon   28    129         MLB-NL  ...  1.316  0.221  12.4   2.25
742           Matt Wisler   27    127         MLB-AL  ...  1.145  0.241  12.4   2.50
613          Max Scherzer   35    128         MLB-NL  ...  1.381  0.355  12.3   4.00
50           Trevor Bauer   29    131         MLB-NL  ...  0.795  0.215  12.3   5.88
7             Keegan Akin   25    127         MLB-AL  ...  1.442  0.358  12.3   3.50
629         Chasen Shreve   29    127         MLB-NL  ...  1.160  0.250  12.2   2.83
705       Vince Velasquez   28    129         MLB-NL  ...  1.559  0.373  12.2   2.71
503            Aaron Nola   27    127         MLB-NL  ...  1.079  0.283  12.1   4.17
398        Dinelson Lamet   27    129         MLB-NL  ...  0.855  0.234  12.1   4.65
254         Lucas Giolito   25    131         MLB-AL  ...  1.037  0.255  12.1   3.46
245         Kevin Gausman   29    127         MLB-NL  ...  1.106  0.298  11.9   4.94
630            Lucas Sims   26    127         MLB-NL  ...  0.974  0.192  11.9   2.83
317     Elieser Hernandez   25    153         MLB-NL  ...  1.013  0.267  11.9   6.80
567            Robbie Ray   28    131  MLB-NL,MLB-AL  ...  1.897  0.323  11.8   1.51

[30 rows x 40 columns]

In [20]:
# name, so9, so/w

name = so_leaders['Name']
team_2 = so_leaders['Tm']
so9 = so_leaders['SO9']
so_w = so_leaders['SO/W']

In [23]:
so_kings = pd.concat([name, team_2, so9, so_w], join = 'outer', axis = 1)

In [25]:
so_kings.head(15)

                Name             Tm   SO9   SO/W
361  James Karinchak      Cleveland  17.7   3.31
736   Devin Williams      Milwaukee  17.7   5.89
173       Edwin Diaz       New York  17.5   3.85
528   Freddy Peralta      Milwaukee  14.4   3.92
642       Drew Smyly  San Francisco  14.4   4.67
256    Tyler Glasnow      Tampa Bay  14.3   4.14
64      Shane Bieber      Cleveland  14.2   5.81
166     Jacob deGrom       New York  13.8   5.78
444     Tyler Matzek        Atlanta  13.3   4.30
99     Corbin Burnes      Milwaukee  13.3   3.67
199   Pete Fairbanks      Tampa Bay  13.2   2.79
313    Liam Hendriks        Oakland  13.1  12.33
656    Josh Staumont    Kansas City  13.0   2.31
447      Mike Mayers    Los Angeles  12.9   4.78
586    Trevor Rogers          Miami  12.5   3.00

In [27]:
so_kings = so_kings.sort_values(by=['SO/W'], ascending=False)
so_kings.head(15)

                  Name                 Tm   SO9   SO/W
313      Liam Hendriks            Oakland  13.1  12.33
545        Zach Plesac          Cleveland   9.3   9.50
261     Marco Gonzales            Seattle   8.3   9.14
155       John Curtiss          Tampa Bay   9.0   8.33
311     Kyle Hendricks            Chicago   7.1   8.00
428        Kenta Maeda          Minnesota  10.8   8.00
373    Clayton Kershaw        Los Angeles   9.6   7.75
671        Brent Suter          Milwaukee  10.8   7.60
275       Zack Greinke            Houston   9.0   7.44
192     Nathan Eovaldi             Boston   9.7   7.43
317  Elieser Hernandez              Miami  11.9   6.80
475       Tommy Milone  Baltimore,Atlanta   9.2   6.67
157         Yu Darvish            Chicago  11.0   6.64
259      Tony Gonsolin        Los Angeles   8.9   6.57
134     Tyler Clippard          Minnesota   9.0   6.50